{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<header class="masthead" style="background-image: url('/images/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Blog</h1>
                    <span class="subheading">Mis últimos posts</span>
                    {# Botón para crear nuevo post #}
                    <a href="{{ path('new_post') }}" class="btn btn-primary mt-3">
                        Crear nuevo post
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {# Mostrar los posts existentes #}
            {% for id, post in posts %}
                <div class="post-preview">
                    <a href="{{ path('single_post', {'slug': post.slug}) }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        {% if post.subtitle is defined and post.subtitle %}
                            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        {% endif %}
                    </a>
                    <p class="post-meta">
                        Subido por <a href="#">{{ post.postUser ? post.postUser.userIdentifier : 'Anónimo' }}</a>
                        on {{ post.publishedAt ? post.publishedAt|date('d M, Y') : '' }}
                    </p>
                </div>
                <hr class="my-4" />
            {% endfor %}

            {# Mostrar los 5 posts recientes #}
            <h3 class="mt-5">Posts Recientes</h3>
            {% for recent in recents %}
                {# Incluir el partial para cada post reciente #}
                {{ include('partials/_recent_post.html.twig', {'recent': recent}) }}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
